<%= form_for [:organiser, @user] do |f| %>
    <%= render "shared/errors", model: @user %>

    <div class="govuk-form-group">
        <%= f.label :first_name, class: "govuk-label" %>
        <%= f.text_field :first_name, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :last_name, class: "govuk-label" %>
        <%= f.text_field :last_name, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :email, class: "govuk-label" %>
        <%= f.text_field :email, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :phone, class: "govuk-label" %>
        <%= f.text_field :phone, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :address, class: "govuk-label" %>
        <%= f.text_field :address, class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :postcode, class: "govuk-label" %>
        <div id="postcode-hint" class="govuk-hint">
            Used to determine the user's location
        </div>
        <%= f.text_field :postcode, class: "govuk-input govuk-input--width-20", aria: {describedby: "postcode-hint"} %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :role_id, class: "govuk-label" %>
        <%= f.collection_radio_buttons :role_id, Role.all, :id, :name, {}  %>
    </div>



    <%= f.submit class: "govuk-button" %>
<% end %>