<%= form_for [:organiser, @receipt] do |f| %>
    <%= render "shared/errors", model: @receipt %>

    <div class="govuk-form-group">
        <%= f.label :total, class: "govuk-label" %>
        <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <%= f.number_field :total, min: 0, step: 0.01, class: "govuk-input govuk-input--width-5" %>
        </div>
    </div>

    <div class="govuk-form-group">
        <%= f.label :user_id, class: "govuk-label" %>
        <%= f.collection_select :user_id, User.all, :id, :display_name, {}, {class: "govuk-select"} %>
    </div>

    <%= f.label :service_ids %>
    <br/>
    <%= f.collection_check_boxes :order_ids, Order.all, :id, :name %>
    <br/>

    <div class="govuk-form-group">
        <%= f.label :image, class: "govuk-label" %>
        <%= f.file_field :image, class: "govuk-file-upload" %>
    </div>

    <% if @receipt.image.attached? %>
        <%= image_tag @receipt.image %>
    <% end %>

    <div class="govuk-form-group">
        <%= f.label :comment, class: "govuk-label" %>
        <%= f.text_area :comment, class: "govuk-textarea" %>
    </div>

    <br/>

    <%= f.submit class: "govuk-button" %>
<% end %>