<% content_for :title do %>
    Profile | 
<% end %>

<div class="tile">
    <h1 class="tile__title"><%= @me.display_name %></h1>
    <p><%= @me.phone %></p>

    <% if current_user.admin? %>
        <p><%= link_to "Go to admin dashboard", admin_root_path, class: "styled-link" %></p>
    <% end %>
</div>


<%= form_for @me, url: profile_path do |f| %>

    <%= render "shared/errors", model: @me %>

    <h2 class="subheading">Address</h2>

    <div class="tile">

        <div class="field">
            <%= f.label :address, "Street address" %>
            <%= f.text_field :address %>
        </div>

        <div class="field">
            <%= f.label :postcode %>
            <%= f.text_field :postcode, aria: { describedby: "postcode-hint"} %>
            <p class="field__hint" id="postcode-hint">To show you nearby tasks</p>
        </div>
    </div>

    <h2 class="subheading">Notifications</h2>

    <div class="tile">
        <div class="field checkbox">
            <%= f.check_box :notify_about_new_tasks %>
            <%= f.label :notify_about_new_tasks, "Tell me when new tasks are available to claim" %>
        </div>

        <div class="field checkbox">
            <%= f.check_box :notify_about_due_tasks %>
            <%= f.label :notify_about_due_tasks, "Remind me when my claimed tasks are due" %>
        </div>
    </div>

    <%= f.submit "Save changes", class: "button" %>

<% end %>

<%= link_to "Sign out", sign_out_path, method: :delete, class: "button button--danger", data: { confirm: "Are you sure you want to sign out of this browser?" } %>