<h1 class="visually-hidden">Available tasks</h1>

<%= form_tag volunteer_tasks_path, method: "get", onchange: "this.submit()" do %>
    <%= label_tag :sort, "Sort by", class: "visually-hidden" %>
    <%= select_tag :sort, options_for_select([
        ["Nearest", "nearest"],
        ["Most recent", "recent"]
    ], params[:sort]) %>

    <%= check_box_tag :map, true, params[:map] %>
    <%= label_tag :map, "Show map?" %>
<% end %>

<% if params[:map].present? %>
    <script>
        __MARKERS__ = <%= raw @clients.to_json %>
    </script>
    <div id="map-canvas" style="height: 300px; width: 100%;"></div>
<% end %>

<% if @clients.any? %>
    <ol class="tile-list">
        <% @clients.each do |c| %>
            <% c.orders.available.each do |o| %>
                <%= render "shared/volunteer/tile", o: o %>
            <% end %>
        <% end %>
    </ol>
<% else %>
    <p>There's no available tasks right now</p>
    <p>Please check back later</p>
<% end %>