<%= content_for :title do %>
    Available tasks | 
<% end %>

<h1 class="visually-hidden">Available tasks</h1>

<% if @tasks.any? %>

    <%= content_for :header do %>
        <% unless params[:map].present? || !current_user.has_coordinates? %>
            <% form_tag tasks_path, method: "get", onchange: "this.submit()" do %>
                <%= label_tag :sort, "Sort by", class: "visually-hidden" %>
                <%= select_tag :sort, options_for_select([
                    ["Nearest", "nearest"],
                    ["Most recent", "recent"]
                ], params[:sort]), class: "sort-picker" %>
            <% end %>
        <% end %>
    <% end %>

    <%= content_for :pre_content do %>
        <%= render "shared/shortcut_nav" %>
    <% end %>

    <% if params[:map].present? %>
        <script>
            __MARKERS__ = <%= raw @tasks.to_json %>
        </script>
        <div id="map-canvas" class="map"></div>    
    <% else %>     
        <ol class="tile-list">
            <% @tasks.each do |t| %>
                <%= render "shared/tile", o: t %>
            <% end %>
        </ol>
    <% end %>
    
<% else %>
    <div class="no-results">
        <h2>There are no available tasks right now</h2>
        <p>Please check back later.</p>
        <p>Or, see <%= link_to "other ways you can help", "#", class: "styled-link" %>.</p>
    </div>
<% end %>