<h1><%= @task.name %></h1>

<p>
    <%= rough_distance(@task.distance_to([current_user.latitude, current_user.longitude])) %> 
    | 
    <%= time_ago_in_words(@task.created_at).humanize %> ago
</p>

<% if @task.user === current_user %>

    <p><%= @task.name %></p>

    <p><%= @task.email %></p>
    <p><%= @task.phone%></p>

    <p><%= @task.address %></p>
    <p><%= @task.postcode %></p>

    <% unless @task.completed_at %>
        <%= link_to "Mark as done", task_done_path(@task), method: :post, class: "button" %>
        <%= link_to "Unclaim", task_claim_path(@task), method: :post, class: "button button--outline", data: { confirm: "Are you sure you want to release this task? It will be available for others to claim" } %>
    <% end %>

<% else %>
    <p>Claim this task to see more details.</p>
    <%= link_to "Claim task", task_claim_path(@task), method: :post, class: "button" %>
<% end %>