<h1 class="govuk-heading-l">Orders</h1>

<%= link_to "Add an order", new_organiser_order_path, class: "govuk-button" %>

<details class="govuk-details" data-module="govuk-details" ontoggle="initMap()">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Filters
        </span>
    </summary>
    <div class="govuk-details__text">
        <%= form_for_filterrific @filterrific do |f| %>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Only show
                    </legend>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <%= f.check_box :approved, class: "govuk-checkboxes__input" %>
                            <%= f.label :approved, class: "govuk-label govuk-checkboxes__label" %>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <%= f.check_box :urgent, class: "govuk-checkboxes__input" %>
                            <%= f.label :urgent, class: "govuk-label govuk-checkboxes__label" %>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group govuk-fieldset">
                <%= f.label :sorted_by, "Sort", class: "govuk-fieldset__legend govuk-fieldset__legend--s" %>
                <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, { class: "govuk-select" } %>
            </div>

            


<button></button>
        <% end %>
    </div>
</details>

<div class="auk-table-holder">
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Total (£)</th>
                <th scope="col" class="govuk-table__header">Services</th>
                <th scope="col" class="govuk-table__header">Client</th>
                <th scope="col" class="govuk-table__header">Urgent</th>
                <th scope="col" class="govuk-table__header">Approved</th>
                <th scope="col" class="govuk-table__header">Assigned to</th>
                <th scope="col" class="govuk-table__header">Made</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body govuk-!-font-size-16">
            <% @orders.each do |o| %>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><%= o.total %></td>
                    <td class="govuk-table__cell"><%= o.services.map{ |s| s.name }.join(", ") %></td>
                    <td class="govuk-table__cell"><%= link_to o.client.display_name, organiser_user_path(o.client) %></td>
                    <td class="govuk-table__cell">
                        <% if o.urgent %>
                            <span class="govuk-tag govuk-tag--red ">Urgent</span>
                        <% else %>
                            —
                        <% end %>
                    </td>
                    <td class="govuk-table__cell">
                        <% if o.approved_at %>
                            <span class="govuk-tag govuk-tag--blue ">Approved</span>
                        <% else %>
                            —
                        <% end %>
                    </td>
                    <td class="govuk-table__cell">
                        <%= form_for [:organiser, o], html: { onchange: "this.submit()" } do |f| %>
                            <%= f.label :assignee_id, class: "govuk-visually-hidden" %>
                            <%= f.collection_select :assignee_id, User.all, :id, :display_name, {include_blank: "—"}, {class: "govuk-select"} %>
                        <% end %>
                    </td>
                    <td class="govuk-table__cell"><%= time_ago_in_words(o.created_at).humanize %> ago</td>

                    <td class="govuk-table__cell"><%= link_to "Edit", organiser_order_path(o) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="govuk-body"><%= paginate @orders %></div>