<li>
    <% if url_for === link_path %>

        <%= link_to link_path, class: "app-navigation__active" do %>
            <%= svg "#{image_path}.svg" %>
            <%= link_text %>
        <% end %>

    <% else %>

        <%= link_to link_path do %>
            <%= svg "#{image_path}.svg" %>
            <%= link_text %>
        <% end %>

    <% end %>
</li>