<h1>Clients</h1>

<%= link_to "Add a client", new_organiser_client_path %>

<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Postcode</th>
        <tr/>
    </thead>
    <tbody>
        <% @clients.each do |c| %>
            <tr>
                <td><%= link_to c.name, organiser_client_path(c) %></td>
                <td><%= c.email %></td>
                <td><%= c.phone %></td>
                <td><%= c.address %></td>
                <td><%= c.postcode %></td>
            </tr>
        <% end %>
    </tbody>
</table>