<h1>Add a new receipt</h1>

<%= form_for [:volunteer, @receipt] do |f| %>
    <%= render "shared/errors", model: @receipt %>

    <%= f.label :total %>
    <br/>
    <%= f.number_field :total, min: 0, step: 0.01 %>
    <br/>

    <%= f.label :order_ids %>
    <br/>
    <%= f.collection_check_boxes :order_ids, Order.all, :id, :name %>
    <br/>

    <%= f.label :image %>
    <br/>
    <%= f.file_field :image %>
    <br/>

    <%= f.submit %>
<% end %>