<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= yield :title %>Signal | Age UK</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <%= favicon_link_tag "favicon.ico" %>
    </head>
    <body class="app-layout">
    
        <header class="app-header <%= "app-header--centred" if controller_path === "auth" %>" role="banner">
            <div class="container">
                <%= link_to "/" do %>
                    <%= image_tag "ageuk.png" %>
                <% end %>

                <%= yield :header %>
            </div>
        </header>

        <% if flash[:notice].present? %>
            <div class="flash">
                <div class="container">
                    <p><%= flash[:notice] %></p>
                </div>
            </div>
        <% end %>

        <% if flash[:alert].present? %>
            <div class="flash flash--alert">
                <div class="container">
                    <p><%= flash[:alert] %></p>
                </div>
            </div>
        <% end %>

        <%= yield :pre_content %>

        <main id="main-content" role="main" class="app-wrapper">
            <div class="container" style="height: 100%">
                <%= yield %>
            </div>
        </main>

        <%= render "shared/nav" %>

        <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
    </body>
</html>