<!DOCTYPE html>
<html>
  <head>
    <title>AgeUk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user.present? %>
      <%= link_to current_user.display_name, edit_user_registration_path %>
      <strong><%= link_to "Log out", destroy_user_session_path, method: "delete" %></strong>
    <% else %>
      <%= link_to "Log in", user_session_path %>
    <% end %>
    <hr/>

    <% if current_user %>
      <nav>
        <ul>
          <% if current_user.role.name === "organiser" %>
            <li><%= link_to "Dashboard", organiser_root_path %></li>
            <li><%= link_to "Orders", organiser_orders_path %></li>
            <li><%= link_to "Services", organiser_services_path %></li>
            <li><%= link_to "Users", organiser_users_path %></li>
            <li><%= link_to "Receipts", organiser_receipts_path %></li>
          <% elsif current_user.role.name === "volunteer"  %>
            <li><%= link_to "Planner", volunteer_root_path %></li>
            <li><%= link_to "Tasks", volunteer_tasks_path %></li>
            <li><%= link_to "Receipts", volunteer_receipts_path %></li>
          <% end %>
        </ul>
      </nav>
      <hr/>
    <% end %>

    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </body>
</html>
