<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AgeUk</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'volunteer', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    </head>
    <body class="app-layout">

        <header class="app-header" role="banner">
            <div class="container">
                <%= link_to volunteer_root_path do %>
                    <%= image_tag "ageuk.png" %>
                <% end %>
            </div>
        </header>

        <% if flash[:notice].present? %>
            <div class="flash">
                <div class="container">
                    <p><%= flash[:notice] %></p>
                </div>
            </div>
        <% end %>

        <% if flash[:alert].present? %>
            <div class="flash flash--alert">
                <div class="container">
                    <p><%= flash[:alert] %></p>
                </div>
            </div>
        <% end %>

        <main id="main-content" role="main" class="app-wrapper">
            <div class="container">
                <%= yield %>
            </div>
        </main>

        <%= render "shared/volunteer/nav" %>

        <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
    </body>
</html>